* {
  font-family: "Poppins";
}
.topnav {
  padding: 10px 0;
  background-color: rgba(157, 161, 163, 0.26);
}
.topnav .logo {
  float: left;
  line-height: 48px;
  font-size: 32px;
  font-weight: bold;
}
.topnav .logo span {
  font-weight: 100;
}
.topnav .right {
  float: right;
}
.topnav .right ul.menu {
  margin-right: 50px;
}
.topnav .right ul.menu li {
  float: left;
  line-height: 48px;
  margin-right: 15px;
}
.topnav .right ul.menu li a {
  text-decoration: none;
  text-transform: uppercase;
}
.topnav .right ul.menu li:first-child a {
  color: #f54748;
}
.topnav .right .search-area .search {
  display: inline-block;
  line-height: 48px;
  font-size: 0;
}
.topnav .right .search-area .search input {
  height: 32px;
  padding-left: 15px;
  border-radius: 32px 0 0 32px;
  box-sizing: border-box;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  vertical-align: middle;
}
.topnav .right .search-area .search i {
  background-color: #f54748;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  border-radius: 0 32px 32px 0;
  color: white;
}
.topnav .right .search-area .mode {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 48px;
}
.offering {
  text-align: center;
}
.offering ul.list li .content {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.offering ul.list li .content img {
  border-radius: 10px;
  display: block;
  transition: all 0.3s;
}
.offering ul.list li .content i.fa {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 28px;
  height: 28px;
  background-color: #f54748;
  text-align: center;
  line-height: 28px;
  border-bottom-left-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.offering ul.list li .content .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f54747b4;
  border-radius: 10px;
  transition: all 0.3s;
  transform: scale(0);
}
.offering ul.list li .content .mask .contain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100px;
  color: white;
  padding: 15px;
}
.offering ul.list li .content .mask .contain h5 {
  line-height: 40px;
  font-weight: 500;
}
.offering ul.list li .content .mask .contain p {
  line-height: 20px;
  height: 60px;
  overflow: hidden;
  font-weight: 100;
  font-size: 12px;
}
.offering ul.list li .content:hover img {
  transform: scale(1.2);
}
.offering ul.list li .content:hover .mask {
  transform: scale(1);
}
.offering ul.list li .content:hover i {
  opacity: 0;
}
.offering button {
  margin-top: 40px;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: white;
  border-radius: 32px;
  font-weight: 600;
  border: 1px solid #f54748;
  background-color: #f54748;
  margin-bottom: 60px;
}
.news {
  background-color: #cfcfcf;
}
.news .title {
  text-align: center;
  margin: 20px;
  font-size: 40px;
  font-weight: 600;
}
.news .title span {
  font-weight: 300;
}
.news .card {
  background-color: white;
  height: 325px;
  margin: 5px;
  border-radius: 10px;
}
.news .card i.fas {
  font-size: 30px;
  color: #f54748;
  margin: 20px;
  margin-top: 35px;
}
.news .card .number {
  margin: 20px;
  float: right;
  font-size: 60px;
  font-weight: 500;
  color: rgba(76, 79, 82, 0.082);
}
.news .card .sub-title {
  font-size: 22px;
  margin-left: 20px;
  font-weight: 600;
}
.news .card .sub-title:hover {
  color: #f54748;
  cursor: pointer;
}
.news .card p {
  margin: 20px;
  font-weight: 300;
}
.news .card .text {
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 5px;
  width: 86px;
  background-color: transparent;
  border-bottom: 2px solid #f54748;
}
.news .card .text:hover {
  cursor: pointer;
}
.news .card:hover .number {
  color: #aaa7a7;
}
.experience {
  background-color: white;
  height: 550px;
  padding-top: 150px;
}
.experience .left {
  margin: 10px;
}
.experience .left h2 {
  font-size: 32px;
  font-weight: 700;
}
.experience .left h2 span {
  font-weight: 300;
}
.experience .left p {
  font-weight: 300;
  line-height: 30px;
  margin-top: 10px;
}
.experience .left button {
  margin-top: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: white;
  border-radius: 32px;
  font-weight: 600;
  border: 1px solid #f54748;
  background-color: #f54748;
}
.experience .right {
  margin-left: 35px;
}
.experience .right .img {
  height: 380px;
  position: relative;
  z-index: 1;
}
.experience .right .img .box {
  position: absolute;
  top: -26px;
  left: 16px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
  border: 6px solid rgba(150, 142, 142, 0.514);
}
.experience .right .img span {
  position: absolute;
  top: 35%;
  color: #b0541f;
  font-size: 24px;
  left: 47%;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
}
* {
  background-repeat: no-repeat;
}
.Design {
  height: 400px;
  margin-top: 100px;
  background-image: url(imgs/bg1.jpg);
  z-index: 0;
  position: relative;
}
.Design .mask2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #19211e96;
  z-index: 1s;
}
.Design .mask2 .left {
  margin: 130px;
  color: white;
}
.Design .mask2 .left h4 {
  font-size: 38px;
  font-weight: 600;
}
.Design .mask2 .left h4 span {
  font-weight: 300;
}
.Design .mask2 .left p {
  line-height: 2em;
}
.Design .mask2 .right {
  margin-top: 180px;
}
.Design .mask2 .right button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  background-color: #f54748;
  border: 1px solid #f54748;
  border-radius: 30px;
}
.Design .mask2 .right button:hover {
  background-color: #db8857;
  cursor: pointer;
}
.works {
  background-color: white;
  font-size: 0;
}
.works .top {
  position: relative;
  z-index: 0;
}
.works .top .left {
  padding: 83px;
}
.works .top .left h1 {
  margin-top: -20px;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.works .top .left h1 span {
  font-weight: 300;
}
.works .top .left p {
  font-size: 14px;
  line-height: 2em;
  font-weight: 300;
}
.works .top .left button {
  padding-left: 30px;
  margin-top: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  background-color: #f54748;
  border: 1px solid transparent;
  border-radius: 30px;
}
.works .top .left button:hover {
  cursor: pointer;
  background-color: #e2b865;
}
.works .top .right {
  background-image: url("imgs/bg2.jpg");
  position: absolute;
  z-index: -1;
  height: 400px;
  top: 0;
  width: 95%;
  margin-right: 5px;
  background-position: center;
  background-size: cover;
}
.works .bottom .col-md-3 {
  padding: 0;
}
.works .bottom .img {
  background-image: url(imgs/bg3.jpg);
  background-position: center;
  height: 400px;
}
.works .bottom .img2 {
  background-image: url(imgs/bg4.jpg);
  height: 400px;
  background-position: center;
}
.works .bottom .card {
  height: 400px;
  text-align: center;
  background-color: rgba(217, 216, 216, 0.195);
}
.works .bottom .card i {
  margin-top: 150px;
  font-size: 38px;
  color: #db8857;
}
.works .bottom .card h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 20px;
}
.works .bottom .card p {
  margin-left: 30px;
  line-height: 2em;
  font-size: 16px;
}
.posts {
  background-color: white;
  padding-bottom: 50px;
}
.posts .title {
  text-align: center;
  font-size: 35px;
  padding-top: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}
.posts .title span {
  font-weight: 300;
}
.posts .card {
  margin-left: 20px;
  float: left;
  overflow: hidden;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.084);
  border-radius: 10px;
}
.posts .card .img {
  position: relative;
  overflow: hidden;
}
.posts .card .img img {
  border-radius: 8px 8px 0 0;
}
.posts .card .img .mask3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f83636b9;
  transition: all 0.3s;
  transform: scale(0);
}
.posts .card .img span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: #ffffff;
  transition: all 0.3s;
  transform: scale(0);
}
.posts .card .img:hover .mask3 {
  transition: all 0.3s;
  transform: scale(1);
}
.posts .card .img:hover img {
  transition: all 0.3s;
  transform: scale(1.2);
}
.posts .card .img:hover span {
  transition: all 0.3s;
  transform: scale(1);
}
.posts .card .text {
  color: #b0541f;
  margin: 20px;
}
.posts .card .text span:hover {
  color: #db8857;
  cursor: pointer;
}
.posts .card .text .right {
  float: right;
}
.posts .card .text span {
  color: #19211e;
}
.posts .card h2 {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.posts .card h2:hover {
  color: #db8857;
  cursor: pointer;
}
.posts .card p {
  margin-left: 20px;
  line-height: 2em;
  margin-bottom: 10px;
}
.posts .card .text2 {
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 2px;
  width: 90px;
  background-color: transparent;
  border-bottom: 2px solid #f54748;
  margin-bottom: 20px;
}
.foot {
  background-color: white;
  color: white;
  position: relative;
  z-index: 0;
  background-position-y: center;
  background-position-x: center;
  background-image: url(imgs/footer.jpg);
}
.foot .mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b8;
  z-index: -1;
}
.foot .top {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 80px;
}
.foot .top .box {
  float: left;
}
.foot .top .box .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 2em;
}
.foot .top .box .title span {
  font-weight: 300;
}
.foot .top .box p {
  font-size: 16px;
  line-height: 35px;
  font-weight: 300;
  margin-bottom: 20px;
}
.foot .top .box .fa i {
  margin-right: 20px;
  font-weight: 400;
}
.foot .top .box2 {
  height: 300px;
}
.foot .top .box2 .title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
}
.foot .top .box2 p {
  line-height: 2em;
}
.foot .top .box2 p .a {
  text-decoration: none;
  color: white;
}
.foot .top .box2 p .a:hover {
  color: #db8857;
}
.foot .top .box3 {
  margin-left: 50px;
}
.foot .top .box3 .title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
}
.foot .top .box3 .text {
  height: 30px;
}
.foot .top .box3 .text .date {
  float: left;
}
.foot .top .box3 .text .time {
  float: right;
}
.foot .bottom p {
  text-align: center;
  margin-top: 80px;
}
.foot .bottom p .link {
  color: white;
}
.foot .bottom p .link:hover {
  color: #f54748;
}
/*# sourceMappingURL=./服装.css.map */