.xianren .wrap {
  width: 1510px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
.xianren .wrap .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-position: center;
  background-image: url(59546305.jpg);
}
.xianren .wrap .mask .text {
  width: 100%;
  overflow: hidden;
}
.xianren .wrap .mask .text .title {
  text-align: center;
  margin-left: -113px;
  font-size: 32px;
  color: brown;
}
.xianren .wrap .mask .text .top {
  overflow: hidden;
  width: 1000px;
  height: 250px;
  margin: 0 auto;
  display: flex;
}
.xianren .wrap .mask .text .top .left {
  float: left;
  text-align: center;
  margin-right: 40px;
  margin-left: 80px;
  margin-bottom: 20px;
}
.xianren .wrap .mask .text .top .left h1 {
  font-size: 28px;
  color: #daccb6;
}
.xianren .wrap .mask .text .top .left button {
  padding: 20px;
  background-color: rgba(74, 199, 221, 0.462);
  border-radius: 5px;
}
.xianren .wrap .mask .text .top .left button:hover {
  cursor: pointer;
  background-color: rgba(33, 67, 205, 0.299);
}
.xianren .wrap .mask .text .top .left #miji {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #68da2b;
}
.xianren .wrap .mask .text .top .middle {
  float: left;
  text-align: center;
  margin-right: 40px;
  margin-left: 80px;
  margin-bottom: 20px;
}
.xianren .wrap .mask .text .top .middle h1 {
  font-size: 28px;
  color: #e158ce;
}
.xianren .wrap .mask .text .top .middle button {
  padding: 20px;
  background-color: rgba(74, 199, 221, 0.462);
  border-radius: 5px;
}
.xianren .wrap .mask .text .top .middle button:hover {
  cursor: pointer;
  background-color: rgba(33, 67, 205, 0.299);
}
.xianren .wrap .mask .text .top .middle #tizhi {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #4150df;
}
.xianren .wrap .mask .text .top .right {
  float: left;
  margin-left: 80px;
  text-align: center;
}
.xianren .wrap .mask .text .top .right h1 {
  font-size: 28px;
  color: #c21c25;
}
.xianren .wrap .mask .text .top .right button {
  padding: 20px;
  background-color: rgba(74, 199, 221, 0.462);
  border-radius: 5px;
}
.xianren .wrap .mask .text .top .right button:hover {
  cursor: pointer;
  background-color: rgba(33, 67, 205, 0.299);
}
.xianren .wrap .mask .text .top .right #bingqi {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #6bffe6;
}
.xianren .wrap .mask .text .bottom {
  clear: left;
  float: left;
  margin-left: 380px;
  margin-right: 278px;
}
.xianren .wrap .mask .text .bottom h1 {
  font-size: 28px;
  color: #33c673;
}
.xianren .wrap .mask .text .bottom button {
  padding: 20px;
  text-align: center;
  margin-left: -5px;
  background-color: rgba(74, 199, 221, 0.462);
  border-radius: 5px;
}
.xianren .wrap .mask .text .bottom button:hover {
  cursor: pointer;
  background-color: rgba(33, 67, 205, 0.299);
}
.xianren .wrap .mask .text .bottom #BOSS {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #c83c32;
}
.xianren .wrap .mask .text .bottom p {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #725023;
}
.xianren .wrap .mask .text .battle {
  float: left;
  text-align: center;
  position: relative;
}
.xianren .wrap .mask .text .battle h1 {
  font-size: 28px;
  color: #4420ba;
}
.xianren .wrap .mask .text .battle #end {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #e4b270;
}
.xianren .wrap .mask .text .battle button {
  padding: 20px;
  margin-left: 10px;
  background-color: rgba(74, 199, 221, 0.462);
  border-radius: 5px;
}
.xianren .wrap .mask .text .battle button:hover {
  cursor: pointer;
  background-color: rgba(33, 67, 205, 0.299);
}
.xianren .wrap .mask .text .battle .restart {
  position: absolute;
  top: 70px;
  left: -185px;
  width: 80px;
  height: 35px;
  padding: 10px;
  background-color: antiquewhite;
  margin-left: 50px;
  padding: 20px;
  margin-left: 10px;
  border: 3px solid black;
  background-color: rgba(74, 199, 221, 0.462);
  border-radius: 5px;
}
.xianren .wrap .mask .text .battle .restart:hover {
  cursor: pointer;
  background-color: rgba(33, 67, 205, 0.299);
}
.xianren .wrap .mask .text .battle p {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #d08727;
}
/*# sourceMappingURL=./了不起的修仙模拟器.css.map */