.offer .row h2 {
  text-align: center;
  margin: 2em 0;
}
.offer .row .item {
  text-align: center;
}
.offer .row .item h3 {
  font-weight: bold;
  font-size: 20px;
}
.services {
  background-image: url('imgs/services-bg.jpg');
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}
.services .row .left h2 {
  margin-top: 0;
  color: white;
}
.services .row .right {
  text-align: right;
}
.services .row .right button {
  background-color: transparent;
}
.services .row .right .hidden-xs {
  background-color: transparent;
}
.services .row .col-xs-12 {
  margin: 15px 0;
}
.services .row .col-xs-12 .media {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
.doctors .container .title {
  text-align: center;
}
.doctors .container .title h3 {
  font-size: 25px;
  font-weight: bold;
}
.doctors .container .card {
  text-align: center;
}
.doctors .container .card img {
  border-radius: 50%;
  box-sizing: border-box;
  border: 10px solid rgba(219, 123, 123, 0.056);
}
.doctors .container .card img:hover {
  border: 10px solid #2424db;
}
.doctors .container .card .icons i {
  margin: 5px;
}
.photo .row .col-sm-9 .row img {
  height: 300px;
  margin-bottom: 20px;
}
.photo .row .col-sm-3 img {
  height: 620px;
}
.news header {
  overflow: hidden;
  padding: 0 15px;
}
.news header .title {
  float: left;
}
.news header .title h3 {
  font-size: 28px;
  font-weight: bold;
}
.news header button {
  float: right;
  text-transform: uppercase;
  border-color: aqua;
  cursor: pointer;
}
.news .card {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.147);
  border-radius: 3px;
}
.news .card:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.47);
}
.news .card:hover a {
  text-decoration: underline;
}
.news .card a {
  font-weight: bold;
  text-decoration: none;
  color: #282828;
  font-size: 16px;
}
.news .card p {
  color: rgba(135, 146, 119, 0.795);
  font-size: 14px;
}
.news .card .author {
  line-height: 30px;
  font-size: 12px;
  color: #d6b996;
}
.news .card .author .avatar {
  border-radius: 50%;
  vertical-align: middle;
}
.news .card .author .name {
  vertical-align: middle;
}
.news .card .author .time {
  vertical-align: middle;
}
footer {
  padding: 50px;
  background-color: black;
  box-sizing: border-box;
  text-align: center;
}
footer * {
  color: white;
}
footer .concate {
  overflow: hidden;
  background-color: rgba(62, 196, 149, 0);
  text-align: center;
}
footer .concate .logo {
  float: left;
  background-color: black;
}
footer .concate input {
  width: 100%;
  height: 50px;
  font-size: 14px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #13a2b7;
  padding-left: 20px;
  border-radius: 50px;
}
footer .concate .site-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 15px;
  color: #ffffff;
  background: #13a2b7;
  font-weight: 600;
  border: none;
  border-radius: 0 50px 50px 0;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 30px 12px;
}
footer .concate .icons i {
  font-size: 20px;
  width: 50px;
  line-height: 43px;
  color: white;
  background-color: transparent;
  border-color: rgba(249, 247, 243, 0.968);
  border-radius: 50%;
  border: 3px solid rgba(199, 198, 192, 0.647);
  text-align: center;
}
footer .nav .left {
  margin-bottom: 20px;
  text-align: center;
}
footer .nav .left .card h5 {
  font-weight: bold;
}
footer .nav .left .card .submenu {
  line-height: 2em;
}
footer .nav .left .card .kong {
  background-color: darkorchid;
  height: 200px;
}
/*# sourceMappingURL=./整形.css.map */